<footer class=" bottom-0 text-center w-full py-4 ">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2020. Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
    <small class="">
    <ul class="text-gray-500 flex flex-row justify-center space-x-6">
        <a href="/privacy-policy/" class="underline" rel="noopener">Privacy Policy</a>
        <a href="/posh-policy/" class="underline" rel="noopener">POSH Policy</a>
        <a href="/terms-of-use/" class="underline" rel="noopener">Terms of Use</a>
    </ul>
</small>
</footer>
<!-- {{ 'fixed' if path == 'home' }} -->